*{
    margin: 0;
}

body{
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    padding: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    margin-bottom: 3rem;
}


main div.forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.today{
    display: flex;
    margin-bottom: 3rem;
}

main div.today div:first-of-type{
    margin-right: 3rem;
}


main div.nextDayContainer{
    display: flex;
}

main div.nextDayForecast{
    margin-right: 3rem;
}